<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.equinox.security.secureStorage">
      <provider
            class="info.elexis.server.core.p2.internal.security.SecureStoragePasswordProvider"
            priority="10">
      </provider>
   </extension>

</plugin>
