<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <setAttribute key="additional_plugins">
        <setEntry value="ch.elexis.core.jpa.datasource:3.12.0.qualifier:default:true:2:true"/>
        <setEntry value="ch.elexis.core.jpa.entities:3.12.0.qualifier:default:true:3:true"/>
        <setEntry value="org.apache.felix.scr:2.2.6:default:true:1:true"/>
        <setEntry value="org.eclipse.core.runtime:3.29.0.v20230726-0617:default:true:default:true"/>
        <setEntry value="org.eclipse.equinox.event:1.6.200.v20230120-0604:default:true:2:true"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin:2.2.200.v20230630-1506:default:true:5:false"/>
        <setEntry value="org.eclipse.equinox.http.jetty:3.8.300.v20230630-1303:default:true:2:default"/>
        <setEntry value="org.eclipse.equinox.p2.transport.ecf:1.4.100.v20230630-1506:default:true:3:true"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator:1.4.300.v20230630-1506:default:true:1:true"/>
        <setEntry value="org.eclipse.gemini.jpa:1.2.0.202105280757:default:true:2:true"/>
        <setEntry value="org.eclipse.jetty.osgi.httpservice:10.0.18:default:true:default:true"/>
        <setEntry value="org.eclipse.osgi:3.18.500.v20230801-1826:default:true:default:false"/>
    </setAttribute>
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="info.elexis.server.core.elexis-server"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticIncludeRequirements" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/info.elexis.server.runtime.product.product (OS X) (Java17)"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <stringAttribute key="featureDefaultLocation" value="workspace"/>
    <stringAttribute key="featurePluginResolution" value="workspace"/>
    <booleanAttribute key="generateProfile" value="true"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../runtime-info.elexis.server.runtime.product.product"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.DisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.EnabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.FilterDisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.FilterEnabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.StatisticsDisabledIds"/>
    <setAttribute key="name.schedenig.eclipse.grepconsole.StatisticsEnabledIds"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="DB_DATABASE" value="ee_elexis"/>
        <mapEntry key="DB_HOST" value="localhost"/>
        <mapEntry key="DB_JDBC_PARAMETER_STRING" value="useSSL=false&amp;serverTimezone=Europe/Zurich"/>
        <mapEntry key="DB_PASSWORD" value="elexis"/>
        <mapEntry key="DB_TYPE" value="mysql"/>
        <mapEntry key="DB_USERNAME" value="elexis"/>
    </mapAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;&#10;"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true -Dorg.eclipse.ecf.provider.filetransfer.excludeContributors=org.eclipse.ecf.provider.filetransfer.httpclient4 -Dorg.osgi.service.http.port=8380&#10;-Djava.awt.headless=true&#10;-Duser.language=de&#10;-Duser.region=CH&#10;-Xms128m&#10;-Xmx1024m&#10;-XstartOnFirstThread&#10;-Dorg.eclipse.swt.internal.carbon.smallFonts"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="info.elexis.server.core.ElexisServer"/>
    <stringAttribute key="productFile" value="/es.core.product.runtime/info.elexis.server.runtime.product.product"/>
    <setAttribute key="selected_features">
        <setEntry value="info.elexis.server.core.connector.elexis.feature:default"/>
        <setEntry value="info.elexis.server.core.feature:default"/>
        <setEntry value="info.elexis.server.core.p2.feature:default"/>
        <setEntry value="info.elexis.server.core.platform.feature:default"/>
        <setEntry value="info.elexis.server.fhir.rest.core.feature:default"/>
        <setEntry value="info.elexis.server.findings.feature:default"/>
        <setEntry value="info.elexis.server.rootfiles.feature:default"/>
    </setAttribute>
    <setAttribute key="selected_target_bundles">
        <setEntry value="bcprov@default:default"/>
        <setEntry value="ch.qos.logback.classic@default:default"/>
        <setEntry value="ch.qos.logback.core@default:default"/>
        <setEntry value="ch.qos.logback.slf4j@default:default"/>
        <setEntry value="com.eclipsesource.jaxrs.consumer@default:default"/>
        <setEntry value="com.eclipsesource.jaxrs.provider.swagger@default:true"/>
        <setEntry value="com.eclipsesource.jaxrs.publisher@default:true"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-annotations@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-core@default:default"/>
        <setEntry value="com.fasterxml.jackson.core.jackson-databind@default:default"/>
        <setEntry value="com.fasterxml.jackson.dataformat.jackson-dataformat-yaml@default:default"/>
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.google.guava@default:default"/>
        <setEntry value="com.google.protobuf@default:default"/>
        <setEntry value="com.h2database@default:default"/>
        <setEntry value="com.healthmarketscience.jackcess@default:default"/>
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="com.mysql.cj@default:default"/>
        <setEntry value="com.opencsv@default:default"/>
        <setEntry value="com.sun.mail.jakarta.mail@default:default"/>
        <setEntry value="com.sun.xml.bind.jaxb-osgi@default:default"/>
        <setEntry value="info.elexis.target.hapi.fhir@default:default"/>
        <setEntry value="info.elexis.target.swagger.all@default:default"/>
        <setEntry value="jakarta.persistence@default:default"/>
        <setEntry value="jakarta.servlet-api@default:default"/>
        <setEntry value="jakarta.validation.jakarta.validation-api@default:default"/>
        <setEntry value="jakarta.ws.rs-api@default:default"/>
        <setEntry value="javassist@default:default"/>
        <setEntry value="javax.activation@default:default"/>
        <setEntry value="javax.annotation@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="jaxb-api@default:default"/>
        <setEntry value="org.apache-extras.beanshell.bsh@default:default"/>
        <setEntry value="org.apache.commons.codec@default:default"/>
        <setEntry value="org.apache.commons.collections@default:default"/>
        <setEntry value="org.apache.commons.commons-beanutils@default:default"/>
        <setEntry value="org.apache.commons.commons-collections4@default:default"/>
        <setEntry value="org.apache.commons.commons-compress@default:default"/>
        <setEntry value="org.apache.commons.commons-dbcp2@default:default"/>
        <setEntry value="org.apache.commons.commons-io@default:default"/>
        <setEntry value="org.apache.commons.commons-pool2@default:default"/>
        <setEntry value="org.apache.commons.lang3@default:default"/>
        <setEntry value="org.apache.commons.logging*1.2.0.v20180409-1502@default:default"/>
        <setEntry value="org.apache.commons.math3@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.geronimo.specs.geronimo-jta_1.1_spec@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpclient@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpcore@default:default"/>
        <setEntry value="org.apache.poi.ooxml.schemas@default:default"/>
        <setEntry value="org.apache.poi.ooxml@default:default"/>
        <setEntry value="org.apache.poi@default:default"/>
        <setEntry value="org.apache.xmlbeans@default:default"/>
        <setEntry value="org.bouncycastle.bcpg@default:default"/>
        <setEntry value="org.bouncycastle.bcprov@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.net@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.ecf.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf.identity@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.ssl@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@default:default"/>
        <setEntry value="org.eclipse.equinox.concurrent@default:default"/>
        <setEntry value="org.eclipse.equinox.console@default:default"/>
        <setEntry value="org.eclipse.equinox.event@2:true"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin.equinox@default:default"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin@5:false"/>
        <setEntry value="org.eclipse.equinox.http.jetty@default:default"/>
        <setEntry value="org.eclipse.equinox.http.servlet@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.artifact.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.console@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.core@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.director@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.engine@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.garbagecollector@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.jarprocessor@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.operations@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.eclipse@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.natives@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.transport.ecf@3:true"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.security.macosx@default:default"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator.manipulator@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator@1:true"/>
        <setEntry value="org.eclipse.gemini.jpa@2:true"/>
        <setEntry value="org.eclipse.jetty.alpn.client@default:default"/>
        <setEntry value="org.eclipse.jetty.client@default:default"/>
        <setEntry value="org.eclipse.jetty.deploy@default:default"/>
        <setEntry value="org.eclipse.jetty.http@default:default"/>
        <setEntry value="org.eclipse.jetty.io@default:default"/>
        <setEntry value="org.eclipse.jetty.osgi.boot@3:true"/>
        <setEntry value="org.eclipse.jetty.osgi.httpservice@default:true"/>
        <setEntry value="org.eclipse.jetty.security@default:default"/>
        <setEntry value="org.eclipse.jetty.server@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet@default:default"/>
        <setEntry value="org.eclipse.jetty.servlets@default:default"/>
        <setEntry value="org.eclipse.jetty.util.ajax@default:default"/>
        <setEntry value="org.eclipse.jetty.util@default:default"/>
        <setEntry value="org.eclipse.jetty.webapp@default:default"/>
        <setEntry value="org.eclipse.jetty.xml@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:default"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@default:false"/>
        <setEntry value="org.eclipse.persistence.antlr@default:default"/>
        <setEntry value="org.eclipse.persistence.asm@default:default"/>
        <setEntry value="org.eclipse.persistence.core@default:default"/>
        <setEntry value="org.eclipse.persistence.jpa.jpql@default:default"/>
        <setEntry value="org.eclipse.persistence.jpa@default:default"/>
        <setEntry value="org.glassfish.hk2.api@default:default"/>
        <setEntry value="org.glassfish.hk2.external.aopalliance-repackaged@default:default"/>
        <setEntry value="org.glassfish.hk2.external.jakarta.inject@default:default"/>
        <setEntry value="org.glassfish.hk2.locator@default:default"/>
        <setEntry value="org.glassfish.hk2.osgi-resource-locator@default:default"/>
        <setEntry value="org.glassfish.hk2.utils@default:default"/>
        <setEntry value="org.glassfish.jersey.containers.jersey-container-servlet-core@default:default"/>
        <setEntry value="org.glassfish.jersey.containers.jersey-container-servlet@default:default"/>
        <setEntry value="org.glassfish.jersey.core.jersey-client@default:default"/>
        <setEntry value="org.glassfish.jersey.core.jersey-common@default:default"/>
        <setEntry value="org.glassfish.jersey.core.jersey-server@default:default"/>
        <setEntry value="org.glassfish.jersey.inject.jersey-hk2@default:default"/>
        <setEntry value="org.glassfish.jersey.media.jersey-media-jaxb@default:default"/>
        <setEntry value="org.glassfish.jersey.media.jersey-media-multipart@default:default"/>
        <setEntry value="org.jaxen@default:default"/>
        <setEntry value="org.jboss.logging.jboss-logging@default:default"/>
        <setEntry value="org.jdom2@default:default"/>
        <setEntry value="org.jvnet.mimepull@default:default"/>
        <setEntry value="org.keycloak.keycloak-adapter-core@default:default"/>
        <setEntry value="org.keycloak.keycloak-adapter-spi@default:default"/>
        <setEntry value="org.keycloak.keycloak-authz-client@default:default"/>
        <setEntry value="org.keycloak.keycloak-common@default:default"/>
        <setEntry value="org.keycloak.keycloak-core@default:default"/>
        <setEntry value="org.keycloak.keycloak-servlet-filter-adapter@default:default"/>
        <setEntry value="org.osgi.framework.system.packages.extra@default:default"/>
        <setEntry value="org.osgi.service.cm@default:default"/>
        <setEntry value="org.osgi.service.component@default:default"/>
        <setEntry value="org.osgi.service.device@default:default"/>
        <setEntry value="org.osgi.service.event@default:default"/>
        <setEntry value="org.osgi.service.jdbc@default:default"/>
        <setEntry value="org.osgi.service.jndi@default:default"/>
        <setEntry value="org.osgi.service.metatype@default:default"/>
        <setEntry value="org.osgi.service.prefs@default:default"/>
        <setEntry value="org.osgi.service.provisioning@default:default"/>
        <setEntry value="org.osgi.service.upnp@default:default"/>
        <setEntry value="org.osgi.service.useradmin@default:default"/>
        <setEntry value="org.osgi.service.wireadmin@default:default"/>
        <setEntry value="org.osgi.util.function@default:default"/>
        <setEntry value="org.osgi.util.measurement@default:default"/>
        <setEntry value="org.osgi.util.position@default:default"/>
        <setEntry value="org.osgi.util.promise@default:default"/>
        <setEntry value="org.osgi.util.xml@default:default"/>
        <setEntry value="org.postgresql.jdbc@default:default"/>
        <setEntry value="org.sat4j.core@default:default"/>
        <setEntry value="org.sat4j.pb@default:default"/>
        <setEntry value="org.slf4j.api@default:default"/>
        <setEntry value="org.slf4j.bridge.jul@default:default"/>
        <setEntry value="org.tukaani.xz@default:default"/>
        <setEntry value="org.yaml.snakeyaml@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="at.medevit.atc_codes@default:default"/>
        <setEntry value="at.medevit.ch.artikelstamm.model@default:default"/>
        <setEntry value="at.medevit.ch.artikelstamm@default:default"/>
        <setEntry value="ch.elexis.base.ch.arzttarife.model@default:default"/>
        <setEntry value="ch.elexis.base.ch.labortarif.model@default:default"/>
        <setEntry value="ch.elexis.base.ch.ticode@default:default"/>
        <setEntry value="ch.elexis.base.solr@default:default"/>
        <setEntry value="ch.elexis.core.documents@default:default"/>
        <setEntry value="ch.elexis.core.eigenartikel@default:default"/>
        <setEntry value="ch.elexis.core.findings.fhir.model@default:default"/>
        <setEntry value="ch.elexis.core.findings.util@default:default"/>
        <setEntry value="ch.elexis.core.findings@default:default"/>
        <setEntry value="ch.elexis.core.hapi.fhir@default:default"/>
        <setEntry value="ch.elexis.core.hl7.v2x@default:default"/>
        <setEntry value="ch.elexis.core.importer.div@default:default"/>
        <setEntry value="ch.elexis.core.jcifs@default:default"/>
        <setEntry value="ch.elexis.core.jpa.datasource@2:true"/>
        <setEntry value="ch.elexis.core.jpa.entities@3:true"/>
        <setEntry value="ch.elexis.core.jpa.logging.slf4j@default:default"/>
        <setEntry value="ch.elexis.core.jpa@default:default"/>
        <setEntry value="ch.elexis.core.l10n@default:default"/>
        <setEntry value="ch.elexis.core.logback.rocketchat@default:default"/>
        <setEntry value="ch.elexis.core.mail@default:default"/>
        <setEntry value="ch.elexis.core.model@default:default"/>
        <setEntry value="ch.elexis.core.pdfbox@default:default"/>
        <setEntry value="ch.elexis.core.services@default:default"/>
        <setEntry value="ch.elexis.core.spotlight@default:default"/>
        <setEntry value="ch.elexis.core.tasks@default:default"/>
        <setEntry value="ch.elexis.core@default:default"/>
        <setEntry value="ch.elexis.omnivore.model@default:default"/>
        <setEntry value="ch.elexis.omnivore@default:default"/>
        <setEntry value="ch.rgw.utility@default:default"/>
        <setEntry value="info.elexis.server.core.common@default:default"/>
        <setEntry value="info.elexis.server.core.connector.elexis@default:default"/>
        <setEntry value="info.elexis.server.core.jetty.homebundle@default:default"/>
        <setEntry value="info.elexis.server.core.logging@default:default"/>
        <setEntry value="info.elexis.server.core.p2@default:default"/>
        <setEntry value="info.elexis.server.core.redmine@default:default"/>
        <setEntry value="info.elexis.server.core@default:default"/>
        <setEntry value="info.elexis.server.fhir.rest.core@default:default"/>
        <setEntry value="info.elexis.server.findings.fhir.jpa.service@default:default"/>
        <setEntry value="org.apache.solr@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="true"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="true"/>
    <booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
