/Artikel_.java
/ArtikelstammItem_.java
/Behandlung_.java
/Brief_.java
/Config_.java
/DbImage_.java
/Diagnosis_.java
/DocHandle_.java
/Eigenleistung_.java
/Fall_.java
/Heap_.java
/Invoice_.java
/KontaktAdressJoint_.java
/Kontakt_.java
/LabItem_.java
/LabMapping_.java
/LabOrder_.java
/LabResult_.java
/Labor2009Tarif_.java
/ObjVatInfo_.java
/PhysioLeistung_.java
/Prescription_.java
/Reminder_.java
/Right_.java
/Role_.java
/StickerClassLink_.java
/StickerObjectLink_.java
/Sticker_.java
/StockEntry_.java
/Stock_.java
/TarmedDefinitionen_.java
/TarmedGroup_.java
/TarmedKumulation_.java
/TarmedLeistung_.java
/Termin_.java
/User_.java
/Userconfig_.java
/VKPreis_.java
/Xid_.java
/ZusatzAdresse_.java
