<configuration>
	<contextName>ES</contextName>
	<statusListener
		class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<contextListener
		class="info.elexis.server.core.logging.ClassloadingLoggerContextListener" />

	<include file="${user.home}/elexis-server/logback-addition.xml" />

	<appender name="rocketchatAppender"
		class="ch.elexis.core.logback.rocketchat.RocketchatAppender">
		<!-- deny all events with a level below WARN, that is INFO, TRACE and DEBUG -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%t] %d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/elexis-server/logs/elexis-server.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<maxHistory>28</maxHistory>
			<fileNamePattern>${user.home}/elexis-server/logs/elexis-server-%d{yyyy-MM-dd}.%i.log.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>25MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>[%t] %d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ROLLING_WARN"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/elexis-server/logs/elexis-server.WARN.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${user.home}/elexis-server/logs/elexis-server-%d{yyyy-MM-dd}.%i.WARN.log.zip
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>[%t] %d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="ROLLING_ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/elexis-server/logs/elexis-server.ERROR.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${user.home}/elexis-server/logs/elexis-server-%d{yyyy-MM-dd}.%i.ERROR.log.zip
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>5</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>[%t] %d %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<logger name="org.eclipse" level="INFO" />
	<logger name="org.apache" level="INFO" />
	<logger name="se.ugli.bigqueue" level="INFO" />
	<logger name="ch.medelexis.server.connector.rockethealth"
		level="TRACE" />
	<logger name="ca.uhn.fhir" level="INFO" />
	<logger
		name="org.apache.shiro.session.mgt.DefaultSessionManager" level="INFO" />
	<logger name="org.eclipse.persistence.logging.metadata"
		level="WARN" />

	<root level="${root.level:-DEBUG}">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING" />
		<appender-ref ref="ROLLING_WARN" />
		<appender-ref ref="ROLLING_ERROR" />
		<!-- will be replace with async appender in ElexisEnvironmentActivator -->
		<appender-ref ref="rocketchatAppender" />
	</root>

</configuration>