<configuration>
	<contextName>ES</contextName>
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<contextListener
		class="info.elexis.server.core.logging.ClassloadingLoggerContextListener" />

	<include file="${user.home}/elexis-server/logback-addition.xml" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/elexis-server/logs/elexis-server.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<maxHistory>28</maxHistory>
			<fileNamePattern>${user.home}/elexis-server/logs/elexis-server-%d{yyyy-MM-dd}.%i.log.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.eclipse" level="INFO" />
	<logger name="org.apache" level="INFO" />
	<logger name="se.ugli.bigqueue" level="INFO" />

	<root level="${root.level:-DEBUG}">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING" />
	</root>

</configuration>