<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Elexis-Server" sequenceNumber="1551795470">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.osgi.framework.system.packages.extra" version="1.0.0.20190124-1239"/>
      <unit id="jaxb-api-impl-import-java9" version="1.0.0.20190124-1239"/>
      <unit id="ch.rgw.utility" version="3.8.0.20190125-0911"/>
      <unit id="ch.elexis.core" version="3.8.0.20190301-1149"/>
      <unit id="ch.elexis.core.l10n" version="3.8.0.20190125-0911"/>
      <unit id="ch.elexis.core.importer.div" version="3.2.0.20190128-1515"/>
      <unit id="ch.elexis.core.hl7.v2x" version="3.2.0.20190108-0900"/>
      <unit id="ch.elexis.core.findings" version="1.0.0.20181005-0856"/>
      <unit id="ch.elexis.core.findings.util" version="1.0.0.20181025-1305"/>
      <unit id="ch.elexis.core.test" version="1.0.0.20190221-0936"/>
      <unit id="ch.elexis.core.jpa" version="1.0.0.20190221-0824"/>
      <unit id="ch.elexis.core.jpa.datasource" version="1.0.0.20190108-0900"/>
      <unit id="ch.elexis.core.jpa.entities" version="1.0.0.20190301-1149"/>
      <unit id="ch.elexis.core.jpa.logging.slf4j" version="1.0.0.20181009-1221"/>
      <unit id="ch.elexis.core.model" version="1.0.0.20190305-1413"/>
      <unit id="ch.elexis.core.services" version="1.0.0.20190228-1416"/>
      <unit id="ch.elexis.core.findings.fhir.model" version="1.0.0.20181025-1305"/>
      <unit id="org.h2" version="1.3.170"/>
      <unit id="org.jdom" version="1.1.1.v201101151400"/>
      <unit id="org.apache.commons.dbcp" version="1.4.0.v201204271417"/>
      <unit id="org.apache.commons.pool" version="1.6.0.v201204271246"/>
      <unit id="bouncycastle.bcprov-jdk14" version="138.0.0"/>
      <unit id="com.ibm.icu" version="62.1.0.v20180727-1652"/>
      <unit id="ca.uhn.hapi.osgi-base" version="2.3.0"/>
      <unit id="org.apache.poi" version="3.9.0.v201405241750"/>
      <unit id="org.apache.poi.ooxml" version="3.9.0.v201405241905"/>
      <unit id="org.apache.poi.ooxml.schemas" version="3.9.0.v201405241750"/>
      <unit id="com.healthmarketscience.jackcess" version="2.1.9"/>
      <unit id="org.beanshell.bsh" version="2.0.0.0b4"/>
      <unit id="org.apache.commons.lang3" version="3.7.0"/>
      <repository location="http://download.elexis.info/elexis/f11106/p2/elexis-3-core/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="ch.elexis.base.ch.ticode" version="3.2.0.20181024-1143"/>
      <unit id="at.medevit.ch.artikelstamm" version="3.3.0.20190201-1533"/>
      <unit id="at.medevit.ch.artikelstamm.model" version="1.0.0.20190205-0957"/>
      <unit id="at.medevit.atc_codes" version="3.1.0.20180309-1216"/>
      <repository location="http://download.elexis.info/elexis/f11106/p2/elexis-3-base/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.15.0.v20180904-1442"/>
      <unit id="org.eclipse.core.runtime.feature.feature.group" version="1.2.200.v20180903-1343"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.15.0.v20180723-1316"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.15.0.v20180722-1159"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.5.1.v20180810-0833"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.100.v20180301-0201"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.2.v20180801-2237"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.14.2.v20180801-2237"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
      <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.5.100.v20180829-1443"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.4.100.v20180829-1443"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.2.100.v20180822-1357"/>
      <unit id="org.eclipse.core.net" version="1.3.300.v20180827-1041"/>
      <unit id="org.eclipse.core.net.linux.x86" version="1.2.200.v20180827-1041"/>
      <unit id="org.eclipse.core.net.linux.x86_64" version="1.2.200.v20180827-1041"/>
      <unit id="org.eclipse.core.net.win32.x86" version="1.1.200.v20180827-1041"/>
      <unit id="org.eclipse.core.net.win32.x86_64" version="1.1.200.v20180827-1041"/>
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <unit id="javax.annotation" version="1.2.0.v201602091430"/>
      <unit id="javax.inject" version="1.0.0.v20091030"/>
      <unit id="org.eclipse.jdt.core" version="3.15.0.v20180905-0317"/>
      <unit id="org.eclipse.core.resources" version="3.13.100.v20180828-0158"/>
      <unit id="org.eclipse.core.filesystem" version="1.7.200.v20180828-0158"/>
      <unit id="org.eclipse.text" version="3.7.0.v20180822-1511"/>
      <unit id="org.eclipse.core.commands" version="3.9.200.v20180827-1727"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.9/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
      <unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
      <unit id="ch.qos.logback.slf4j" version="1.0.7.v201505121915"/>
      <unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
      <unit id="org.apache.commons.exec" version="1.1.0.v201301240602"/>
      <unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
      <unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
      <unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="3.14.1.v20180730-1455"/>
      <unit id="javax.xml" version="1.3.4.v201005080400"/>
      <repository location="http://download.eclipse.org/releases/2018-09/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jetty.http" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.continuation" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.security" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.io" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.server" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.servlet" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.util" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.servlets" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.webapp" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.xml" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.util.ajax" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.websocket.common" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.websocket.api" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.websocket.server" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.websocket.servlet" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.websocket.javax.websocket" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.websocket.javax.websocket.server" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.websocket.client" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.osgi.boot" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.deploy" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.osgi-servlet-api" version="3.1.0.M3"/>
      <unit id="org.eclipse.jetty.osgi.httpservice" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.osgi.boot.jsp" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.plus" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.annotations" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.jndi" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.apache-jsp" version="9.4.14.v20181113"/>
      <repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.4.14.v20181113/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.eclipsesource.jaxrs.connector.feature.feature.group" version="5.3.1.201803161213"/>
      <unit id="com.eclipsesource.jaxrs.provider.sse.feature.feature.group" version="2.2.0.201803161213"/>
      <unit id="com.eclipsesource.jaxrs.provider.gson.feature.feature.group" version="2.3.0.201803161213"/>
      <unit id="com.eclipsesource.jaxrs.provider.moxy.feature.feature.group" version="2.2.0.201803161213"/>
      <unit id="com.eclipsesource.jaxrs.provider.swagger.feature.feature.group" version="1.1.1.201803161213"/>
      <unit id="com.eclipsesource.jaxrs.provider.multipart.feature.feature.group" version="2.2.0.201803161213"/>
      <repository location="http://medevit.github.io/osgi-jax-rs-connector/5.3.100/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.tukaani.xz" version="1.8.0.v20180207-1613"/>
      <unit id="osgi.enterprise" version="4.2.0.v201108120515"/>
      <unit id="javax.ejb" version="3.1.1.v201204261316"/>
      <unit id="javax.transaction" version="1.1.1.v201105210645"/>
      <unit id="javax.xml.rpc" version="1.1.0.v201209140446"/>
      <unit id="javax.xml.soap" version="1.3.0.v201105210645"/>
      <unit id="com.google.guava" version="18.0.0.v20161115-1643"/>
      <unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
      <unit id="org.apache.commons.codec" version="1.9.0.v20170208-1614"/>
      <unit id="org.apache.xalan" version="2.7.1.v201005080400"/>
      <unit id="org.apache.xml.serializer" version="2.7.1.v201005080400"/>
      <unit id="javax.servlet.jsp.jstl" version="1.2.0.v201105211821"/>
      <unit id="javax.servlet.jsp.jstl.impl" version="1.2.0.v201210211230"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180905201904/repository/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.persistence.jpa.feature.group" version="2.7.3.v20180807-4be1041"/>
      <unit id="org.eclipse.persistence.moxy.feature.group" version="2.7.3.v20180807-4be1041"/>
      <unit id="org.eclipse.persistence.jpars" version="2.6.0.v20150309-bf26070"/>
      <unit id="org.eclipse.persistence.dbws.feature.group" version="2.7.3.v20180807-4be1041"/>
      <unit id="javax.validation" version="1.1.0.v201304101302"/>
      <unit id="javax.activation" version="1.1.0.v201108011116"/>
      <repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gemini.jpa.feature.feature.group" version="1.2.0.201307051903"/>
      <repository location="http://download.elexis.info/elexis-server/misc/gemini-jpa/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="javax.transaction-api" version="1.3.0"/>
      <unit id="javax.enterprise.cdi-api" version="2.0.0.SP1"/>
      <unit id="javax.interceptor-api" version="1.2.2"/>
      <unit id="com.sun.activation.javax.activation" version="1.2.0"/>
      <unit id="com.sun.xml.bind.jaxb-osgi" version="2.3.2"/>
      <unit id="jaxb-api" version="2.4.0.b1808300359"/>
      <unit id="com.google.code.gson" version="2.8.0"/>
      <unit id="jcl.over.slf4j" version="1.7.25"/>
      <unit id="com.squareup.okhttp3.okhttp" version="3.10.0"/>
      <unit id="com.squareup.okio" version="1.14.0"/>
      <unit id="org.apache.commons.beanutils" version="1.9.2"/>
      <unit id="com.mashape.unirest.java" version="1.4.7"/>
      <unit id="org.apache.commons.logging" version="1.2.0"/>
      <unit id="org.apache.httpcomponents.httpasyncclient" version="4.0.2"/>
      <unit id="org.apache.httpcomponents.httpclient" version="4.3.6"/>
      <unit id="org.apache.httpcomponents.httpcore" version="4.3.3"/>
      <unit id="org.apache.httpcomponents.httpmime" version="4.5.1"/>
      <unit id="org.apache.httpcomponents.httpcore-nio" version="4.3.2"/>
      <unit id="org.json" version="20140107.0.0"/>
      <unit id="org.apache.shiro.core" version="1.4.0"/>
      <unit id="org.apache.shiro.web" version="1.4.0"/>
      <unit id="org.apache.shiro.ehcache" version="1.4.0"/>
      <unit id="org.apache.shiro.aspectj" version="1.4.0"/>
      <unit id="org.apache.shiro.jaxrs" version="1.4.0"/>
      <unit id="org.apache.oltu.oauth2.common" version="1.0.2"/>
      <unit id="org.apache.oltu.commons.encodedtoken" version="1.0.0"/>
      <unit id="org.apache.oltu.commons.json" version="1.0.0"/>
      <unit id="org.apache.oltu.oauth2.authzserver" version="1.0.2"/>
      <unit id="org.apache.oltu.oauth2.jwt" version="1.0.3"/>
      <unit id="org.apache.oltu.oauth2.resourceserver" version="1.0.2"/>
      <unit id="org.apache.oltu.oauth2.resourceserver-filter" version="1.0.2"/>
      <unit id="org.apache.oltu.oauth2.client" version="1.0.2"/>
      <unit id="org.apache.oltu.oauth2.httpclient4" version="1.0.2"/>
      <unit id="org.apache.oltu.oauth2.dynamicreg.common" version="1.0.2"/>
      <unit id="org.apache.oltu.oauth2.dynamicreg.server" version="1.0.2"/>
      <unit id="org.mitre.openid-connect-common" version="1.3.1"/>
      <unit id="org.mitre.openid-connect-server" version="1.3.1"/>
      <unit id="org.springframework.spring-core" version="4.3.8.RELEASE"/>
      <unit id="org.springframework.spring-beans" version="4.3.8.RELEASE"/>
      <unit id="org.apache.commons.collections4" version="4.1.0"/>
      <unit id="se.ugli.bigqueue" version="1.6.0.0"/>
      <unit id="com.mysql.cj" version="8.0.13"/>
      <unit id="org.postgresql.jdbc42" version="42.2.5"/>
      <unit id="org.apache.commons.configuration" version="2.0.0"/>
      <unit id="org.joda.money" version="0.11.0"/>
      <unit id="com.github.pukkaone.logback-gelf" version="1.1.8"/>
      <unit id="ch.qos.logback.access" version="1.1.3"/>
      <unit id="com.googlecode.json-simple" version="1.1.0"/>
      <unit id="com.rabbitmq.client" version="3.0.4"/>
      <unit id="com.fasterxml.jackson.core.jackson-core" version="2.9.0.pr2"/>
      <unit id="com.fasterxml.jackson.core.jackson-databind" version="2.9.0.pr2"/>
      <unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.9.0.pr2"/>
      <unit id="org.thymeleaf" version="3.0.2.RELEASE"/>
      <unit id="javassist" version="3.20.0.GA"/>
      <unit id="woodstox-core-asl" version="4.4.1"/>
      <unit id="javax.xml.stream.stax-api" version="1.0.0.2"/>
      <unit id="stax2-api" version="3.1.4"/>
      <unit id="net.sf.saxon.Saxon-HE" version="9.6.0.4"/>
      <unit id="com.phloc.commons" version="4.4.6"/>
      <unit id="com.phloc.schematron" version="2.7.1"/>
      <unit id="findbugsAnnotations" version="2.0.3"/>
      <unit id="ognl" version="3.1.10"/>
      <unit id="org.attoparser" version="2.0.1.RELEASE"/>
      <unit id="org.unbescape" version="1.1.4.RELEASE"/>
      <unit id="com.auth0.java-jwt" version="3.1.0"/>
      <unit id="org.slf4j.osgi-over-slf4j" version="1.7.2"/>
      <unit id="org.springframework.spring-web" version="4.3.8.RELEASE"/>
      <unit id="org.apache.commons.io" version="2.5.0"/>
      <unit id="org.mortbay.jasper.apache-el" version="8.5.33"/>
      <unit id="org.mortbay.jasper.apache-jsp" version="8.5.33"/>
      <unit id="org.apache.taglibs.taglibs-standard-spec" version="1.2.5"/>
      <unit id="org.apache.taglibs.standard-impl" version="1.2.5"/>
      <unit id="org.apache.aries.spifly.static.bundle" version="1.0.10"/>
      <unit id="org.apache.aries.spifly.dynamic.bundle" version="1.0.10"/>
      <unit id="org.apache.aries.spifly.org.apache.aries.spifly.core-internal" version="1.0.10"/>
      <unit id="org.apache.aries.spifly.org.apache.aries.spifly.static.tool" version="1.0.10"/>
      <unit id="org.apache.aries.spifly.org.apache.aries.spifly.weaver-internal" version="1.0.10"/>
      <unit id="org.apache.aries.util" version="1.0.0"/>
      <unit id="org.glassfish.web.javax.servlet.jsp.jstl" version="1.2.5.b03"/>
      <unit id="org.objectweb.asm" version="6.1.1"/>
      <unit id="org.objectweb.asm.commons" version="6.1.1"/>
      <unit id="org.objectweb.asm.tree" version="6.1.1"/>
      <repository location="http://download.elexis.info/elexis-server/elexis-server-dependencies/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.eclipsesource.restfuse" version="1.10.0.201601141215"/>
      <repository location="http://download.elexis.info/elexis-server/p2/restfuse/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="net.sf.opencsv" version="1.8.0"/>
      <repository location="http://download.elexis.info/elexis.3.3rdparty.libraries/snapshot"/>
    </location>
  </locations>
</target>
